<!doctype html>
<html>
<%- include('layout/header'); %>

<body>

    <div class="" role="document" style="max-width: 500px !important; margin: auto">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form style="width: 100%;">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="useName" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Adress">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
    </div>
    <script>
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + JSON.stringify(cvalue) + ";" + expires + ";path=/";
        }
        $('#save').on('click', e => {
            let data = {
                userName: $('#useName').val(),
                address: $('#address').val(),
                phone: $('#phone').val()
            }
            setCookie('food', data, 1);
            location.href = '/'
        });
    </script>
</body>

</html>