<!DOCTYPE html>
<html lang="en">
<%- include('layout/header'); %>

<body>
    <h1 class="section-title section-title-center" style="font-family: 'Baloo Bhai', cursive;">THỰC ĐƠN</h1>
    <div class="d-flex justify-content-around align-items-center pt-3 pb-2 mb-3">
        <div class="thum-main col-md-4">
            <a href="/rice" style="display: block;">
                <img src="../assets/img/product/com.jpg" alt=""style="width: 100%; height: auto;">
            </a>
        </div>
        <div class="thum-main col-md-4">
            <a href="/tea" style="display: block;">
                <img src="../assets/img/product/che.jpg" alt="" style="width: 100%; height: auto;">
            </a>
        </div>
        <div class="thum-main col-md-4">
            <a href="/drink" style="display: block;">
                <img src="../assets/img/product/douong.jpg" alt="" style="width: 100%; height: auto;">
            </a>
        </div>
    </div>
</body>

</html>