.h2-order{
    font-family: 'Baloo Bhai', cursive;
     color: #008838;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.row .sidebar h2 {
    text-align: center;
    padding-bottom: 8px !important;
    font-weight: 500;
}
.card-body{
    transition: box-shadow .3s;
}
.card-body:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.22);
}
.list-product .product{
  
    margin-bottom: 20px;
}

.list-product .product .card-body{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    
}
.list-product .product .card-body .description{
    margin-top: 10px;
}
.list-product .product .card-body .description .nameFood{
    font-size: large;
    font-weight: 500;
}

.listorder li:nth-child(even) .listFood .product .icon a i{
    color: #d2d5d8
}
.listOder:first-child .userOrder{
    padding: 10px 0 10px 0;
}

.listOder{
    display: inline-block; width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 15px;
    background: #edeff1;
}
.listOder .userOrder{
    width: 100%;
    font-weight: 500;
    font-size: large;
    padding: 10px 0 10px 0;
    text-align: center;
}
.listOder .listFood{ 
    padding: 0
}
.listOder .listFood .product{

     overflow: auto;
     border-radius: 2px;
     display: flex;
     margin-top: 5px;
     margin-bottom: 5px;
     border: 0;
     border-top: 1px solid rgba(0,0,0,.1);
     padding: 5px 0 5px 5px;
}
.listOder .listFood .product:last-child{

    overflow: auto;
    border-radius: 2px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 5px 0 5px 5px;
}

.listOder .listFood .product .title{
    float: left;
    display: grid;
    padding: 5px 5px 5px 10px;
}
.listOder .listFood .product .image{
    float: left;
    width: 60px;
    height: 58px;
   
    padding: 0;
}
.listOder .listFood .product .icon{
    margin: auto 0;
    float: right;
    font-size: 20px;
    display: none;
}
.listOder .listFood .product .icon a i{
    color: #dde1e5;
}
.listOder .listFood .product .image img{
    width: 100%;
    height: 100%;
    padding: 0;
}

.sum{
    margin-top: 10px;
}
.sumUser{
  margin-bottom: 10px;
display: block;
}
.sumUser span:first-child{
    padding: 0 10px 0 10px;
}
.prouct-count{
    color: #d30808;
    font-weight: 600;
}
.price-count{
    color: #d30808;
    font-weight: 600; 
    text-decoration: underline;
}
.thum-main a{
    transition: box-shadow .3s;
    border: 1px solid #ccc;
    background: #fff;
   
  }
.thum-main a:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.22);
  }
  .section-title{
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    color: #008838;
    font-family: "Baloo", sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  .section-title-center:after {
    content: "";
    height: 30px;
    display: table;
    width: 100%;
    position: absolute;
    background: url(https://namviethathanh.com/wp-content/uploads/2017/12/LINE.png);
    background-repeat: no-repeat;
    background-position: center;
}
.search{
    border-radius: 20px;
    border-style: solid;
    border-color: #f1f3f5;
    background-color: #f1f3f5;
    outline: none;
    padding: 5px 18px 5px 18px;
    position: relative;
}
.searchProduct span{
    position: absolute;
    font-size: 16px;
    color: #008838;
    top: 49px;
    right: 35px;
}
