<script>
    var base_url = location.protocol + "//" + document.domain + ":" + location.port;
    var socket = io.connect(base_url);
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = cname + "=" + JSON.stringify(cvalue) + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function order(id, restaurant) {
        var user = getCookie("food");
        if (user != "") {
            var getuser = JSON.parse(user);
            if (getuser.userName != "") {
                var data = {
                    user: getuser.userName,
                    idUser: getuser.id,
                    food: id,
                    restaurant: restaurant
                }
                socket.emit("infoOrder", data);
            } else {
                $('#exampleModalCenter').modal('show')
            }
        } else {
            $('#exampleModalCenter').modal('show')
        }
    }
    function deleteOrder(idFood) {
        var user = getCookie("food");
        if (user != "") {
            var getuser = JSON.parse(user);
            if (getuser.userName != "") {
                var order = idFood.split('-')[1];
                if (order === getuser.id) {
                    var data = {
                        user: getuser.userName,
                        idUser: getuser.id,
                        idfood: idFood.split('-')[0]
                    }
                    socket.emit('deleteOrder', data)
                }
            } else {
                $('#exampleModalCenter').modal('show')
            }
        } else {
            $('#exampleModalCenter').modal('show')
        }
    }
    $(() => {
        // set cookie
        $('#save').on('click', function () {
            let data = {
                userName: $('#useName').val(),
                id: md5($('#useName').val().trim())
            }
            setCookie('food', data, 3650);
            $('#exampleModalCenter').modal('toggle')
        });
        // send order to socketIO
        socket.on('order', (data) => {
            var user = getCookie("food");
            $('.prouct-count').text(data.__summary.totalProuct);
            $('.price-count').text(`${data.__summary.totalPrice.toLocaleString()}đ`)
            if ($('.listorder').text().indexOf(data.user) > -1) {
                if ($('.title-' + data.idfood + '-' + data.id + '').text().indexOf(data.nameFood) > -1) {
                    let a = $('.title-' + data.idfood + '-' + data.id + ' .amountOrder').text();
                    let sum = parseInt(a) + 1;
                    $('.title-' + data.idfood + '-' + data.id + ' .amountOrder').text(sum);
                } else {
                    $(`#${data.id}`).append('<div class="product product-' + data.idfood + '-' + data.id + '"><div class="col-md-2 image"><img src="assets/img/product/' + data.image + '"></div><div class="col-md-8 title-' + data.idfood + '-' + data.id + ' title"><span style="font-weight: 500;">' + data.nameFood + '</span><span><span style="color: #d30808;"><span class="amountOrder" style="color: #d30808;">1</span> x </span>' + data.price.toLocaleString() + 'đ</span></div><div class="col-md-2 icon icon-' + data.id + '"><a title="Remove Food" onclick="deleteOrder(\'' + data.idfood + '-' + data.id + '\')" href="#"><i class="fas fa-minus-circle"></i></a></div></div>');
                }
                $(`.product${data.id}`).text(data.summaryUser.totalProuct);
                $(`.price${data.id}`).text(`${data.summaryUser.totalPrice.toLocaleString()}đ`);
                $(`.sumUser-${data.id}`).attr('check', `${data.summaryUser.totalProuct}`)
            }
            else {
                $('.listorder').append('<li class="nav-item listOder order-' + data.id + '"><div class=" userOrder">' + data.user + '</div><hr><div class="listFood" id="' + data.id + '"><div class="product product-' + data.idfood + '-' + data.id + '"><div class="col-md-2 image"><img src="assets/img/product/' + data.image + '"></div><div class="col-md-8 title-' + data.idfood + '-' + data.id + ' title"><span style="font-weight: 500;">' + data.nameFood + '</span><span><span style="color: #d30808;"><span class="amountOrder" style="color: #d30808;">1</span> x </span>' + data.price.toLocaleString() + 'đ</span></div><div class="col-md-2 icon icon-' + data.id + '"><a title="Remove Food" onclick="deleteOrder(\'' + data.idfood + '-' + data.id + '\')" href="#"><i class="fas fa-minus-circle"></i></a></div></div></div><div check="1" class="sumUser-' + data.id + ' sumUser "><span >Total Product: <span class="product' + data.id + '" style="font-weight: 500; padding: 0 10px 0 10px;">' + data.summaryUser.totalProuct + '</span></span><span>Total Price: <span class="price' + data.id + '" style="font-weight: 500; text-decoration: underline;"> ' + data.summaryUser.totalPrice.toLocaleString() + 'đ</span></span></div></li>');

            }
            // var user = getCookie("food");

            if (user != "") {
                var getuser = JSON.parse(user);
                if ($('.icon-' + getuser.id + '')[0]) {
                    $('.icon-' + getuser.id + '').css({ 'display': 'block' });
                    $(`.order-${getuser.id}`).css({ 'background': 'white' })
                }

            }
            $('.sumUser').each((i, el) => {
                if ($(el).attr('check') == 1)
                    $(el).css({ 'display': 'none' })
                else
                    $(el).css({ 'display': 'block' })
            })
        })
        // delete order 
        socket.on('orderDele', data => {
            $('.product-' + data.idfood + '-' + data.id + '').remove();
            $(`.product${data.id}`).text(data.summaryUser.totalProuct);
            $(`.price${data.id}`).text(`${data.summaryUser.totalPrice.toLocaleString()}đ`);
            $('.prouct-count').text(data.__summary.totalProuct);
            $('.price-count').text(`${data.__summary.totalPrice.toLocaleString()}đ`);
            $(`.sumUser-${data.id}`).attr('check', `${data.summaryUser.totalProuct}`)
            var user = getCookie("food");

            $('.sumUser').each((i, el) => {
                if ($(el).attr('check') == 1)
                    $(el).css({ 'display': 'none' })
                else
                    $(el).css({ 'display': 'block' })
            })
        })
        var user = getCookie("food");

        if (user != "") {
            var getuser = JSON.parse(user);
            $(`.order-${getuser.id}`).css({ 'background': 'white' })
            // hidden icon remote
            if ($('.icon-' + getuser.id + '')[0]) {
                $('.icon-' + getuser.id + '').css({ 'display': 'block' });
            }

        }
        $('.sumUser').each((i, el) => {
            if ($(el).attr('check') == 1)
                $(el).css({ 'display': 'none' })
            else
                $(el).css({ 'display': 'block' })
        })

        // $.each(classList, function(index, item) {
        //     console.log(index,item)
        // });
    })
</script>